<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
<div class="container">
<div class="row">
   <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">
         {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}
      </h2>
      <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <form action="https://postmail.invotes.com/send"
         method="post" id="contactForm">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" name="subject" placeholder="Subject*" required="required" data-validation-required-message="{{ site.data.sitetext[site.locale].contact.name-validation | default: "Please enter the title of email." }}"/>
                  <p class="help-block text-danger"></p>
               </div>
               <div class="form-group">
                  <!-- set the reply-to address -->
                  <input type="text" name="reply_to" placeholder="Email*" required="required" data-validation-required-message="{{ site.data.sitetext[site.locale].contact.email-validation | default: "Please enter your email address." }}"/>
                  <p class="help-block text-danger"></p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <textarea name="text" placeholder="Message*" required="required" data-validation-required-message="{{ site.data.sitetext[site.locale].contact.message-validation | default: "Please enter a message." }}"></textarea>
                  <p class="help-block text-danger"></p>
               </div>
            </div>
            <input type="hidden" name="access_token" value="xqmrip5icge2wnenqmkz2kqd" />
            <!-- return urls can be fully qualified -OR-
               start with / for root relative -OR-
               start with . for url relative -->
            <input type="hidden" name="success_url" value=".?message=Email+Successfully+Sent%21&isError=0" />
            <input type="hidden" name="error_url" value=".?message=Email+could+not+be+sent.&isError=1" />
            <!-- to append extra fields, use the extra_ prefix.
               Entries will be appended to your message body. -->
            <!-- <input type="text" name="extra_phone_number"
               placeholder="Phone Number" /> -->
            <!-- to split your message into 160 chars
               for an sms gateway -->
            <!-- <input type="hidden"
               name="sms_format" value="true" /> -->
            <input id="submit_form" type="submit" value="Send Email" />
      </form>
      <!-- optional, prevents the submit button from being pressed more than once -->
      <script>
         var submitButton = document.getElementById("submit_form");
         var form = document.getElementById("email_form");
         form.addEventListener("submit", function (e) {
             setTimeout(function() {
                 submitButton.value = "Sending...";
                 submitButton.disabled = true;
             }, 1);
         });
      </script>
      </div>
   </div>
</div>
</section>
<!-- End Contact -->
